.Side-bar
  .Side-bar__user-name
    .Top-items
      .Top-items__name
        = current_user.name
      .Icon
        = link_to "#" do
          = icon('fas', 'edit',class: "Icon__edit")
          %span<>
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog',class: "Icon__cog")
          %span<>
  .Side-bar__group-list
    .Side-items
      .Side-items__group-name
        group name1
      .Side-items__new-message
        おはようございます
    .Side-items
      .Side-items__group-name
        group name2
      .Side-items__new-message
        new message2